.CodeMirror {
  height: 640px;
  padding: 8px;
  border: 1px dashed #ffffff;
  text-align: left;
}

.cm-s-material.CodeMirror,
.CodeMirror-linenumbers,
.CodeMirror-linenumber {
  background-color: #121212;
  font-size: 12px;
}
